.skill:hover{
    color: #e22947;

    
}
a {
    color:#463636 !important;
}

.rounded-circle{
    height: 12rem;
    width: 10rem;
    border-radius: 50%;
}
.info-text{
    font-size: 15px;
    padding-left: 7px;
}

.info-text-link{
    margin-bottom: 20px;
}